ul,
li,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:global(.appWrapper) {
  color: #666;
}

:global(#appCloudMirror) {
  height: 100%;
}

:global(#appCloudMirror > div) {
  height: 100%;
}

:global(.clearfix:after) {
  display: block;
  content: '';
  clear: both;
}

:global(.fl) {
  float: left;
}

:global(.fr) {
  float: right;
}

:global(.p20) {
  padding: 20px;
}
