.wrapper {
  position: relative;
  height: 100%;
  min-height: 600px;
  background: url('./images/glass.svg') no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.login-form-box {
  width: 576px;
	height: 735px;
  margin: 0 auto;
	border-radius: 6px;
	background-color: #ffffff;
	box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.07);
}

.logo-box {
  position: relative;
  padding: 84px 65px 0;
}

.logo-box img {
  position: absolute;
  left: 65px;
  top: 84px;
}

.title {
  padding-left: 233px;
  color: #33a1dc;
  font-size: 88px;
  line-height: 120px;
}

.logo-box p {
  padding-left: 251px;
  color: #ccc;
	font-size: 24px;
	letter-spacing: 1.4px;
}

.bottom-box {
  padding: 0 108px;
  margin-top: 56px;
}

.verification-box {
  margin-top: 38px;
  margin-bottom: 46px;
  white-space: nowrap;
}

.verification-box input {
  width: 35px;
  height: 60px;
  line-height: 60px;
  margin-right: 27px;
  text-align: center;
  border: solid 1px #979797;
  border-radius: 2px;
  font-size: 40px;
}

.btn-box button {
  width: 100%;
  font-size: 24px;
  height: 66px;
}

.tip-box {
  margin-top: 50px;
  text-align: center;
  font-size: 17px;
  user-select: none;
}

.input-box-phone > div {
  width: 65%;
  height: 60px;
  padding: 3px;
  padding-bottom: 0;
  border: solid 1px #979797;
  border-right: none;
}

.input-box-no-btn > div {
  border: 0;
}

.input-box-phone.input-box-no-btn {
  width: 100%;
  border: solid 1px #979797;
}

.input-box-phone div div {
  width: 100%;
  height: 20px;
  font-size: 12px;
}

.input-box-phone div input {
  width: 100%;
  border: 0;
  outline: none;
  font-size: 22px;
}

.input-box-phone button {
  width: 35%;
  height: 60px;
}

.input-box-email {
  margin: 40px 0;
}

.input-box-email > div {
  width: 78%;
}

.input-box-email button {
  width: 22%;
}
