.layout-header {
  position: fixed;
  z-index: 100;
  width: calc(100% - 200px);
  height: 56px;
  padding: 0;
  line-height: 56px;
  background: #fff;
}

.layout-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.layout-content {
  margin: 72px 16px 0;
  overflow: initial;
}

.layout-content > div {
  background: #fff;
}

.layout-right {
  min-height: 100vh;
  margin-left: 200px;
}
