.appWrapper {
  height: 100%;
}

.contentWrapper {
  float: left;
  width: calc(100% - 200px);
  height: calc(100% - 56px);
  min-height: 520px;
  padding: 20px;
  background: #f5f5f5;
}

.contentWrapper > div {
  height: 100%;
  min-height: 500px;
  background: #fff;
}
